//---------------LIGHT SYSTEM BASIC PLATTE-------------
$bit-basic-light-palette-blue: #0484ff;
$bit-basic-light-palette-blue-1: #ebf7ff;
$bit-basic-light-palette-blue-2: #cdeaff;
$bit-basic-light-palette-blue-3: #9bd3ff;
$bit-basic-light-palette-blue-4: #68baff;
$bit-basic-light-palette-blue-5: #36a0ff;
$bit-basic-light-palette-blue-6: #0484ff;
$bit-basic-light-palette-blue-7: #006cdb;
$bit-basic-light-palette-blue-8: #0057b8;
$bit-basic-light-palette-blue-9: #004494;
$bit-basic-light-palette-blue-10: #003270;

$bit-basic-light-palette-lite-blue: #04b0ff;
$bit-basic-light-palette-lite-blue-1: #ebfaff;
$bit-basic-light-palette-lite-blue-2: #cdf3ff;
$bit-basic-light-palette-lite-blue-3: #9be4ff;
$bit-basic-light-palette-lite-blue-4: #68d5ff;
$bit-basic-light-palette-lite-blue-5: #36c3ff;
$bit-basic-light-palette-lite-blue-6: #04b0ff;
$bit-basic-light-palette-lite-blue-7: #018fd4;
$bit-basic-light-palette-lite-blue-8: #006faa;
$bit-basic-light-palette-lite-blue-9: #00517f;
$bit-basic-light-palette-lite-blue-10: #003555;

$bit-basic-light-palette-indigo: #172465;
$bit-basic-light-palette-indigo-1: #edf0f8;
$bit-basic-light-palette-indigo-2: #d1dbf1;
$bit-basic-light-palette-indigo-3: #a7b8e2;
$bit-basic-light-palette-indigo-4: #a7b8e2;
$bit-basic-light-palette-indigo-5: #5f78c5;
$bit-basic-light-palette-indigo-6: #405bb7;
$bit-basic-light-palette-indigo-7: #344ba3;
$bit-basic-light-palette-indigo-8: #293d8e;
$bit-basic-light-palette-indigo-9: #20307a;
$bit-basic-light-palette-indigo-10: #172465;

$bit-basic-light-palette-cyan: #08b8c3;
$bit-basic-light-palette-cyan-1: #e6f9f9;
$bit-basic-light-palette-cyan-2: #c4f3f3;
$bit-basic-light-palette-cyan-3: #8fe6e7;
$bit-basic-light-palette-cyan-4: #5dd8db;
$bit-basic-light-palette-cyan-5: #30c8cf;
$bit-basic-light-palette-cyan-6: #08b8c3;
$bit-basic-light-palette-cyan-7: #0597a2;
$bit-basic-light-palette-cyan-8: #037682;
$bit-basic-light-palette-cyan-9: #015761;
$bit-basic-light-palette-cyan-10: #003941;

$bit-basic-light-palette-teal: #03b382;
$bit-basic-light-palette-teal-1: #e4f7f1;
$bit-basic-light-palette-teal-2: #c1f0e0;
$bit-basic-light-palette-teal-3: #88e0c4;
$bit-basic-light-palette-teal-4: #56d1ab;
$bit-basic-light-palette-teal-5: #29c295;
$bit-basic-light-palette-teal-6: #03b382;
$bit-basic-light-palette-teal-7: #01956f;
$bit-basic-light-palette-teal-8: #00775a;
$bit-basic-light-palette-teal-9: #005945;
$bit-basic-light-palette-teal-10: #003c2f;

$bit-basic-light-palette-green: #5ac244;
$bit-basic-light-palette-green-1: #f1f9ee;
$bit-basic-light-palette-green-2: #dbf3d3;
$bit-basic-light-palette-green-3: #b8e7ab;
$bit-basic-light-palette-green-4: #97da85;
$bit-basic-light-palette-green-5: #78ce63;
$bit-basic-light-palette-green-6: #5ac244;
$bit-basic-light-palette-green-7: #48a237;
$bit-basic-light-palette-green-8: #37812b;
$bit-basic-light-palette-green-9: #27611f;
$bit-basic-light-palette-green-10: #194114;

$bit-basic-light-palette-lite-green: #8bc342;
$bit-basic-light-palette-lite-green-1: #f5f9ee;
$bit-basic-light-palette-lite-green-2: #e7f3d3;
$bit-basic-light-palette-lite-green-3: #d0e7aa;
$bit-basic-light-palette-lite-green-4: #b8db84;
$bit-basic-light-palette-lite-green-5: #a1cf62;
$bit-basic-light-palette-lite-green-6: #8bc342;
$bit-basic-light-palette-lite-green-7: #71a236;
$bit-basic-light-palette-lite-green-8: #59822a;
$bit-basic-light-palette-lite-green-9: #41611e;
$bit-basic-light-palette-lite-green-10: #2a4113;

$bit-basic-light-palette-lime: #bde004;
$bit-basic-light-palette-lime-1: #f6fce8;
$bit-basic-light-palette-lime-2: #ebf9c8;
$bit-basic-light-palette-lime-3: #daf393;
$bit-basic-light-palette-lime-4: #cdec61;
$bit-basic-light-palette-lime-5: #c4e631;
$bit-basic-light-palette-lime-6: #bde004;
$bit-basic-light-palette-lime-7: #9aba01;
$bit-basic-light-palette-lime-8: #799500;
$bit-basic-light-palette-lime-9: #597000;
$bit-basic-light-palette-lime-10: #3a4b00;

$bit-basic-light-palette-red: #ff2724;
$bit-basic-light-palette-red-1: #fff1ee;
$bit-basic-light-palette-red-2: #ffdad3;
$bit-basic-light-palette-red-3: #ffb2a8;
$bit-basic-light-palette-red-4: #ff867c;
$bit-basic-light-palette-red-5: #ff5850;
$bit-basic-light-palette-red-6: #ff2724;
$bit-basic-light-palette-red-7: #db191c;
$bit-basic-light-palette-red-8: #b80f18;
$bit-basic-light-palette-red-9: #940814;
$bit-basic-light-palette-red-10: #700210;

$bit-basic-light-palette-pink: #f92492;
$bit-basic-light-palette-pink-1: #feeef4;
$bit-basic-light-palette-pink-2: #fed2e3;
$bit-basic-light-palette-pink-3: #fda6ca;
$bit-basic-light-palette-pink-4: #fc7ab5;
$bit-basic-light-palette-pink-5: #fb4fa2;
$bit-basic-light-palette-pink-6: #f92492;
$bit-basic-light-palette-pink-7: #d61881;
$bit-basic-light-palette-pink-8: #b20f6e;
$bit-basic-light-palette-pink-9: #8e075b;
$bit-basic-light-palette-pink-10: #6b0246;

$bit-basic-light-palette-purple: #972cbc;
$bit-basic-light-palette-purple-1: #f7eaf8;
$bit-basic-light-palette-purple-2: #edcdf2;
$bit-basic-light-palette-purple-3: #d99ee4;
$bit-basic-light-palette-purple-4: #c474d7;
$bit-basic-light-palette-purple-5: #ae4eca;
$bit-basic-light-palette-purple-6: #972cbc;
$bit-basic-light-palette-purple-7: #8122a8;
$bit-basic-light-palette-purple-8: #6c1a94;
$bit-basic-light-palette-purple-9: #58127f;
$bit-basic-light-palette-purple-10: #460c6b;

$bit-basic-light-palette-violet: #6340d5;
$bit-basic-light-palette-violet-1: #f0eefb;
$bit-basic-light-palette-violet-2: #dad4f7;
$bit-basic-light-palette-violet-3: #b8acee;
$bit-basic-light-palette-violet-4: #9986e6;
$bit-basic-light-palette-violet-5: #7c62dd;
$bit-basic-light-palette-violet-6: #6340d5;
$bit-basic-light-palette-violet-7: #5030b1;
$bit-basic-light-palette-violet-8: #3f228e;
$bit-basic-light-palette-violet-9: #2e176a;
$bit-basic-light-palette-violet-10: #1e0d46;

$bit-basic-light-palette-yellow: #ffc804;
$bit-basic-light-palette-yellow-1: #fffeeb;
$bit-basic-light-palette-yellow-2: #fffbcd;
$bit-basic-light-palette-yellow-3: #fff39b;
$bit-basic-light-palette-yellow-4: #ffe868;
$bit-basic-light-palette-yellow-5: #ffda36;
$bit-basic-light-palette-yellow-6: #ffc804;
$bit-basic-light-palette-yellow-7: #d59c01;
$bit-basic-light-palette-yellow-8: #aa7400;
$bit-basic-light-palette-yellow-9: #805000;
$bit-basic-light-palette-yellow-10: #553100;

$bit-basic-light-palette-amber: #ff9f19;
$bit-basic-light-palette-amber-1: #fffaed;
$bit-basic-light-palette-amber-2: #fff2d1;
$bit-basic-light-palette-amber-3: #ffe2a3;
$bit-basic-light-palette-amber-4: #ffce75;
$bit-basic-light-palette-amber-5: #ffb847;
$bit-basic-light-palette-amber-6: #ff9f19;
$bit-basic-light-palette-amber-7: #d57a13;
$bit-basic-light-palette-amber-8: #aa590d;
$bit-basic-light-palette-amber-9: #803c09;
$bit-basic-light-palette-amber-10: #552305;

$bit-basic-light-palette-orange: #ff7404;
$bit-basic-light-palette-orange-1: #fff7eb;
$bit-basic-light-palette-orange-2: #ffeacd;
$bit-basic-light-palette-orange-3: #ffd19b;
$bit-basic-light-palette-orange-4: #ffb668;
$bit-basic-light-palette-orange-5: #ff9636;
$bit-basic-light-palette-orange-6: #ff7404;
$bit-basic-light-palette-orange-7: #db5700;
$bit-basic-light-palette-orange-8: #b83f00;
$bit-basic-light-palette-orange-9: #942c00;
$bit-basic-light-palette-orange-10: #701c00;

$bit-basic-light-palette-gray-scale-1: #f1f1f1;
$bit-basic-light-palette-gray-scale-2: #e1e3e0;
$bit-basic-light-palette-gray-scale-3: #c3c8c1;
$bit-basic-light-palette-gray-scale-4: #a5aca3;
$bit-basic-light-palette-gray-scale-5: #899187;
$bit-basic-light-palette-gray-scale-6: #6d756b;
$bit-basic-light-palette-gray-scale-7: #5a6258;
$bit-basic-light-palette-gray-scale-8: #474e46;
$bit-basic-light-palette-gray-scale-9: #353b34;
$bit-basic-light-palette-gray-scale-10: #232722;
$bit-basic-light-palette-gray-scale-11: #1f1f1f;
$bit-basic-light-palette-gray-scale-12: #141414;
$bit-basic-light-palette-gray-scale-13: #000000;

//---------------DARK SYSTEM BASIC PLATTE-------------

$bit-basic-dark-palette-blue: #0484ff;
$bit-basic-dark-palette-blue-10: #ebf7ff;
$bit-basic-dark-palette-blue-9: #cdeaff;
$bit-basic-dark-palette-blue-8: #9bd3ff;
$bit-basic-dark-palette-blue-7: #68baff;
$bit-basic-dark-palette-blue-6: #36a0ff;
$bit-basic-dark-palette-blue-5: #0484ff;
$bit-basic-dark-palette-blue-4: #006cdb;
$bit-basic-dark-palette-blue-3: #0057b8;
$bit-basic-dark-palette-blue-2: #004494;
$bit-basic-dark-palette-blue-1: #003270;

$bit-basic-dark-palette-lite-blue: #04b0ff;
$bit-basic-dark-palette-lite-blue-10: #ebfaff;
$bit-basic-dark-palette-lite-blue-9: #cdf3ff;
$bit-basic-dark-palette-lite-blue-8: #9be4ff;
$bit-basic-dark-palette-lite-blue-7: #68d5ff;
$bit-basic-dark-palette-lite-blue-6: #36c3ff;
$bit-basic-dark-palette-lite-blue-5: #04b0ff;
$bit-basic-dark-palette-lite-blue-4: #018fd4;
$bit-basic-dark-palette-lite-blue-3: #006faa;
$bit-basic-dark-palette-lite-blue-2: #00517f;
$bit-basic-dark-palette-lite-blue-1: #003555;

$bit-basic-dark-palette-indigo: #172465;
$bit-basic-dark-palette-indigo-10: #edf0f8;
$bit-basic-dark-palette-indigo-9: #d1dbf1;
$bit-basic-dark-palette-indigo-8: #a7b8e2;
$bit-basic-dark-palette-indigo-7: #a7b8e2;
$bit-basic-dark-palette-indigo-6: #5f78c5;
$bit-basic-dark-palette-indigo-5: #405bb7;
$bit-basic-dark-palette-indigo-4: #344ba3;
$bit-basic-dark-palette-indigo-3: #293d8e;
$bit-basic-dark-palette-indigo-2: #20307a;
$bit-basic-dark-palette-indigo-1: #172465;

$bit-basic-dark-palette-cyan: #08b8c3;
$bit-basic-dark-palette-cyan-10: #e6f9f9;
$bit-basic-dark-palette-cyan-9: #c4f3f3;
$bit-basic-dark-palette-cyan-8: #8fe6e7;
$bit-basic-dark-palette-cyan-7: #5dd8db;
$bit-basic-dark-palette-cyan-6: #30c8cf;
$bit-basic-dark-palette-cyan-5: #08b8c3;
$bit-basic-dark-palette-cyan-4: #0597a2;
$bit-basic-dark-palette-cyan-3: #037682;
$bit-basic-dark-palette-cyan-2: #015761;
$bit-basic-dark-palette-cyan-1: #003941;

$bit-basic-dark-palette-teal: #03b382;
$bit-basic-dark-palette-teal-10: #e4f7f1;
$bit-basic-dark-palette-teal-9: #c1f0e0;
$bit-basic-dark-palette-teal-8: #88e0c4;
$bit-basic-dark-palette-teal-7: #56d1ab;
$bit-basic-dark-palette-teal-6: #29c295;
$bit-basic-dark-palette-teal-5: #03b382;
$bit-basic-dark-palette-teal-4: #01956f;
$bit-basic-dark-palette-teal-3: #00775a;
$bit-basic-dark-palette-teal-2: #005945;
$bit-basic-dark-palette-teal-1: #003c2f;

$bit-basic-dark-palette-green: #5ac244;
$bit-basic-dark-palette-green-10: #f1f9ee;
$bit-basic-dark-palette-green-9: #dbf3d3;
$bit-basic-dark-palette-green-8: #b8e7ab;
$bit-basic-dark-palette-green-7: #97da85;
$bit-basic-dark-palette-green-6: #78ce63;
$bit-basic-dark-palette-green-5: #5ac244;
$bit-basic-dark-palette-green-4: #48a237;
$bit-basic-dark-palette-green-3: #37812b;
$bit-basic-dark-palette-green-2: #27611f;
$bit-basic-dark-palette-green-1: #194114;

$bit-basic-dark-palette-lite-green: #8bc342;
$bit-basic-dark-palette-lite-green-10: #f5f9ee;
$bit-basic-dark-palette-lite-green-9: #e7f3d3;
$bit-basic-dark-palette-lite-green-8: #d0e7aa;
$bit-basic-dark-palette-lite-green-7: #b8db84;
$bit-basic-dark-palette-lite-green-6: #a1cf62;
$bit-basic-dark-palette-lite-green-5: #8bc342;
$bit-basic-dark-palette-lite-green-4: #71a236;
$bit-basic-dark-palette-lite-green-3: #59822a;
$bit-basic-dark-palette-lite-green-2: #41611e;
$bit-basic-dark-palette-lite-green-1: #2a4113;

$bit-basic-dark-palette-lime: #bde004;
$bit-basic-dark-palette-lime-10: #f6fce8;
$bit-basic-dark-palette-lime-9: #ebf9c8;
$bit-basic-dark-palette-lime-8: #daf393;
$bit-basic-dark-palette-lime-7: #cdec61;
$bit-basic-dark-palette-lime-6: #c4e631;
$bit-basic-dark-palette-lime-5: #bde004;
$bit-basic-dark-palette-lime-4: #9aba01;
$bit-basic-dark-palette-lime-3: #799500;
$bit-basic-dark-palette-lime-2: #597000;
$bit-basic-dark-palette-lime-1: #3a4b00;

$bit-basic-dark-palette-red: #ff2724;
$bit-basic-dark-palette-red-10: #fff1ee;
$bit-basic-dark-palette-red-9: #ffdad3;
$bit-basic-dark-palette-red-8: #ffb2a8;
$bit-basic-dark-palette-red-7: #ff867c;
$bit-basic-dark-palette-red-6: #ff5850;
$bit-basic-dark-palette-red-5: #ff2724;
$bit-basic-dark-palette-red-4: #db191c;
$bit-basic-dark-palette-red-3: #b80f18;
$bit-basic-dark-palette-red-2: #940814;
$bit-basic-dark-palette-red-1: #700210;

$bit-basic-dark-palette-pink: #f92492;
$bit-basic-dark-palette-pink-10: #feeef4;
$bit-basic-dark-palette-pink-9: #fed2e3;
$bit-basic-dark-palette-pink-8: #fda6ca;
$bit-basic-dark-palette-pink-7: #fc7ab5;
$bit-basic-dark-palette-pink-6: #fb4fa2;
$bit-basic-dark-palette-pink-5: #f92492;
$bit-basic-dark-palette-pink-4: #d61881;
$bit-basic-dark-palette-pink-3: #b20f6e;
$bit-basic-dark-palette-pink-2: #8e075b;
$bit-basic-dark-palette-pink-1: #6b0246;

$bit-basic-dark-palette-purple: #972cbc;
$bit-basic-dark-palette-purple-10: #f7eaf8;
$bit-basic-dark-palette-purple-9: #edcdf2;
$bit-basic-dark-palette-purple-8: #d99ee4;
$bit-basic-dark-palette-purple-7: #c474d7;
$bit-basic-dark-palette-purple-6: #ae4eca;
$bit-basic-dark-palette-purple-5: #972cbc;
$bit-basic-dark-palette-purple-4: #8122a8;
$bit-basic-dark-palette-purple-3: #6c1a94;
$bit-basic-dark-palette-purple-2: #58127f;
$bit-basic-dark-palette-purple-1: #460c6b;

$bit-basic-dark-palette-violet: #6340d5;
$bit-basic-dark-palette-violet-10: #f0eefb;
$bit-basic-dark-palette-violet-9: #dad4f7;
$bit-basic-dark-palette-violet-8: #b8acee;
$bit-basic-dark-palette-violet-7: #9986e6;
$bit-basic-dark-palette-violet-6: #7c62dd;
$bit-basic-dark-palette-violet-5: #6340d5;
$bit-basic-dark-palette-violet-4: #5030b1;
$bit-basic-dark-palette-violet-3: #3f228e;
$bit-basic-dark-palette-violet-2: #2e176a;
$bit-basic-dark-palette-violet-1: #1e0d46;

$bit-basic-dark-palette-yellow: #ffc804;
$bit-basic-dark-palette-yellow-10: #fffeeb;
$bit-basic-dark-palette-yellow-9: #fffbcd;
$bit-basic-dark-palette-yellow-8: #fff39b;
$bit-basic-dark-palette-yellow-7: #ffe868;
$bit-basic-dark-palette-yellow-6: #ffda36;
$bit-basic-dark-palette-yellow-5: #ffc804;
$bit-basic-dark-palette-yellow-4: #d59c01;
$bit-basic-dark-palette-yellow-3: #aa7400;
$bit-basic-dark-palette-yellow-2: #805000;
$bit-basic-dark-palette-yellow-1: #553100;

$bit-basic-dark-palette-amber: #ff9f19;
$bit-basic-dark-palette-amber-10: #fffaed;
$bit-basic-dark-palette-amber-9: #fff2d1;
$bit-basic-dark-palette-amber-8: #ffe2a3;
$bit-basic-dark-palette-amber-7: #ffce75;
$bit-basic-dark-palette-amber-6: #ffb847;
$bit-basic-dark-palette-amber-5: #ff9f19;
$bit-basic-dark-palette-amber-4: #d57a13;
$bit-basic-dark-palette-amber-3: #aa590d;
$bit-basic-dark-palette-amber-2: #803c09;
$bit-basic-dark-palette-amber-1: #552305;

$bit-basic-dark-palette-orange: #ff7404;
$bit-basic-dark-palette-orange-10: #fff7eb;
$bit-basic-dark-palette-orange-9: #ffeacd;
$bit-basic-dark-palette-orange-8: #ffd19b;
$bit-basic-dark-palette-orange-7: #ffb668;
$bit-basic-dark-palette-orange-6: #ff9636;
$bit-basic-dark-palette-orange-5: #ff7404;
$bit-basic-dark-palette-orange-4: #db5700;
$bit-basic-dark-palette-orange-3: #b83f00;
$bit-basic-dark-palette-orange-2: #942c00;
$bit-basic-dark-palette-orange-1: #701c00;

$bit-basic-dark-palette-gray-scale-13: #f1f1f1;
$bit-basic-dark-palette-gray-scale-12: #e1e3e0;
$bit-basic-dark-palette-gray-scale-11: #c3c8c1;
$bit-basic-dark-palette-gray-scale-10: #a5aca3;
$bit-basic-dark-palette-gray-scale-9: #899187;
$bit-basic-dark-palette-gray-scale-8: #6d756b;
$bit-basic-dark-palette-gray-scale-7: #5a6258;
$bit-basic-dark-palette-gray-scale-6: #474e46;
$bit-basic-dark-palette-gray-scale-5: #353b34;
$bit-basic-dark-palette-gray-scale-4: #232722;
$bit-basic-dark-palette-gray-scale-3: #1f1f1f;
$bit-basic-dark-palette-gray-scale-2: #141414;
$bit-basic-dark-palette-gray-scale-1: #000000;


//------------------------------ 默认主题色
$bit-palette-holy-primary: $bit-basic-dark-palette-indigo-6;
$bit-palette-holy-primary-1: $bit-basic-dark-palette-indigo-1;
$bit-palette-holy-primary-2: $bit-basic-dark-palette-indigo-2;
$bit-palette-holy-primary-3: $bit-basic-dark-palette-indigo-3;
$bit-palette-holy-primary-4: $bit-basic-dark-palette-indigo-4;
$bit-palette-holy-primary-5: $bit-basic-dark-palette-indigo-5;
$bit-palette-holy-primary-6: $bit-basic-dark-palette-indigo-6;
$bit-palette-holy-primary-7: $bit-basic-dark-palette-indigo-7;
$bit-palette-holy-primary-8: $bit-basic-dark-palette-indigo-8;
$bit-palette-holy-primary-9: $bit-basic-dark-palette-indigo-9;
$bit-palette-holy-primary-10: $bit-basic-dark-palette-indigo-10;
