////------------------------------ 默认主题色
//$bit-palette-holy-primary: $bit-basic-dark-palette-indigo-6;
//$bit-palette-holy-primary-1: $bit-basic-dark-palette-indigo-1;
//$bit-palette-holy-primary-2: $bit-basic-dark-palette-indigo-2;
//$bit-palette-holy-primary-3: $bit-basic-dark-palette-indigo-3;
//$bit-palette-holy-primary-4: $bit-basic-dark-palette-indigo-4;
//$bit-palette-holy-primary-5: $bit-basic-dark-palette-indigo-5;
//$bit-palette-holy-primary-6: $bit-basic-dark-palette-indigo-6;
//$bit-palette-holy-primary-7: $bit-basic-dark-palette-indigo-7;
//$bit-palette-holy-primary-8: $bit-basic-dark-palette-indigo-8;
//$bit-palette-holy-primary-9: $bit-basic-dark-palette-indigo-9;
//$bit-palette-holy-primary-10: $bit-basic-dark-palette-indigo-10;
//-----ARCO.DESIGN---
// 浪漫红
$bit-basic-light-palette-red-1: #FFECE8;
$bit-basic-light-palette-red-2: #FDCDC5;
$bit-basic-light-palette-red-3: #FBACA3;
$bit-basic-light-palette-red-4: #F98981;
$bit-basic-light-palette-red-5: #F76560;
$bit-basic-light-palette-red-6: #F53F3F;
$bit-basic-light-palette-red-7: #CB272D;
$bit-basic-light-palette-red-8: #A1151E;
$bit-basic-light-palette-red-9: #770813;
$bit-basic-light-palette-red-10: #4D000A;

// 晚秋红
$bit-basic-light-palette-orangered-1: #FFF3E8;
$bit-basic-light-palette-orangered-2: #FDDDC3;
$bit-basic-light-palette-orangered-3: #FCC59F;
$bit-basic-light-palette-orangered-4: #FAAC7B;
$bit-basic-light-palette-orangered-5: #F99057;
$bit-basic-light-palette-orangered-6: #F77234;
$bit-basic-light-palette-orangered-7: #CC5120;
$bit-basic-light-palette-orangered-8: #A23511;
$bit-basic-light-palette-orangered-9: #771F06;
$bit-basic-light-palette-orangered-10: #4D0E00;

// 活力橙
$bit-basic-light-palette-orange-1: #FFF7E8;
$bit-basic-light-palette-orange-2: #FFE4BA;
$bit-basic-light-palette-orange-3: #FFCF8B;
$bit-basic-light-palette-orange-4: #FFB65D;
$bit-basic-light-palette-orange-5: #FF9A2E;
$bit-basic-light-palette-orange-6: #FF7D00;
$bit-basic-light-palette-orange-7: #D25F00;
$bit-basic-light-palette-orange-8: #A64500;
$bit-basic-light-palette-orange-9: #792E00;
$bit-basic-light-palette-orange-10: #4D1B00;

// 黄昏
$bit-basic-light-palette-gold-1: #FFFCE8;
$bit-basic-light-palette-gold-2: #FDF4BF;
$bit-basic-light-palette-gold-3: #FCE996;
$bit-basic-light-palette-gold-4: #FADC6D;
$bit-basic-light-palette-gold-5: #F9CC45;
$bit-basic-light-palette-gold-6: #F7BA1E;
$bit-basic-light-palette-gold-7: #CC9213;
$bit-basic-light-palette-gold-8: #A26D0A;
$bit-basic-light-palette-gold-9: #774B04;
$bit-basic-light-palette-gold-10: #4D2D00;

// 柠檬黄
$bit-basic-light-palette-yellow-1: #FEFFE8;
$bit-basic-light-palette-yellow-2: #FEFEBE;
$bit-basic-light-palette-yellow-3: #FDFA94;
$bit-basic-light-palette-yellow-4: #FCF26B;
$bit-basic-light-palette-yellow-5: #FBE842;
$bit-basic-light-palette-yellow-6: #FADC19;
$bit-basic-light-palette-yellow-7: #CFAF0F;
$bit-basic-light-palette-yellow-8: #A38408;
$bit-basic-light-palette-yellow-9: #785D03;
$bit-basic-light-palette-yellow-10: #4D3800;

// 新生绿
$bit-basic-light-palette-lime-1: #FCFFE8;
$bit-basic-light-palette-lime-2: #EDF8BB;
$bit-basic-light-palette-lime-3: #DCF190;
$bit-basic-light-palette-lime-4: #C9E968;
$bit-basic-light-palette-lime-5: #B5E241;
$bit-basic-light-palette-lime-6: #9FDB1D;
$bit-basic-light-palette-lime-7: #7EB712;
$bit-basic-light-palette-lime-8: #5F940A;
$bit-basic-light-palette-lime-9: #437004;
$bit-basic-light-palette-lime-10: #2A4D00;

// 嫩芽绿
$bit-basic-light-palette-lite-green-1: #f5f9ee;
$bit-basic-light-palette-lite-green-2: #e7f3d3;
$bit-basic-light-palette-lite-green-3: #d0e7aa;
$bit-basic-light-palette-lite-green-4: #b8db84;
$bit-basic-light-palette-lite-green-5: #a1cf62;
$bit-basic-light-palette-lite-green-6: #8bc342;
$bit-basic-light-palette-lite-green-7: #71a236;
$bit-basic-light-palette-lite-green-8: #59822a;
$bit-basic-light-palette-lite-green-9: #41611e;
$bit-basic-light-palette-lite-green-10: #2a4113;

// 仙野绿
$bit-basic-light-palette-green-1: #E8FFEA;
$bit-basic-light-palette-green-2: #AFF0B5;
$bit-basic-light-palette-green-3: #7BE188;
$bit-basic-light-palette-green-4: #4CD263;
$bit-basic-light-palette-green-5: #23C343;
$bit-basic-light-palette-green-6: #00B42A;
$bit-basic-light-palette-green-7: #009A29;
$bit-basic-light-palette-green-8: #008026;
$bit-basic-light-palette-green-9: #006622;
$bit-basic-light-palette-green-10: #004D1C;

// 冥想绿
$bit-basic-light-palette-teal-1: #e4f7f1;
$bit-basic-light-palette-teal-2: #c1f0e0;
$bit-basic-light-palette-teal-3: #88e0c4;
$bit-basic-light-palette-teal-4: #56d1ab;
$bit-basic-light-palette-teal-5: #29c295;
$bit-basic-light-palette-teal-6: #03b382;
$bit-basic-light-palette-teal-7: #01956f;
$bit-basic-light-palette-teal-8: #00775a;
$bit-basic-light-palette-teal-9: #005945;
$bit-basic-light-palette-teal-10: #003c2f;

// 碧涛青
$bit-basic-light-palette-cyan-1: #E8FFFB;
$bit-basic-light-palette-cyan-2: #B7F4EC;
$bit-basic-light-palette-cyan-3: #89E9E0;
$bit-basic-light-palette-cyan-4: #5EDFD6;
$bit-basic-light-palette-cyan-5: #37D4CF;
$bit-basic-light-palette-cyan-6: #14C9C9;
$bit-basic-light-palette-cyan-7: #0DA5AA;
$bit-basic-light-palette-cyan-8: #07828B;
$bit-basic-light-palette-cyan-9: #03616C;
$bit-basic-light-palette-cyan-10: #00424D;

// 海蔚蓝
$bit-basic-light-palette-lite-blue-1: #E8F7FF;
$bit-basic-light-palette-lite-blue-2: #C3E7FE;
$bit-basic-light-palette-lite-blue-3: #9FD4FD;
$bit-basic-light-palette-lite-blue-4: #7BC0FC;
$bit-basic-light-palette-lite-blue-5: #57A9FB;
$bit-basic-light-palette-lite-blue-6: #3491FA;
$bit-basic-light-palette-lite-blue-7: #206CCF;
$bit-basic-light-palette-lite-blue-8: #114BA3;
$bit-basic-light-palette-lite-blue-9: #063078;
$bit-basic-light-palette-lite-blue-10: #001A4D;

// 极致蓝
$bit-basic-light-palette-blue-1: #E8F3FF;
$bit-basic-light-palette-blue-2: #BEDAFF;
$bit-basic-light-palette-blue-3: #94BFFF;
$bit-basic-light-palette-blue-4: #6AA1FF;
$bit-basic-light-palette-blue-5: #4080FF;
$bit-basic-light-palette-blue-6: #165DFF;
$bit-basic-light-palette-blue-7: #0E42D2;
$bit-basic-light-palette-blue-8: #072CA6;
$bit-basic-light-palette-blue-9: #031A79;
$bit-basic-light-palette-blue-10: #000D4D;

// 水墨蓝
$bit-basic-light-palette-indigo-1: #edf0f8;
$bit-basic-light-palette-indigo-2: #d1dbf1;
$bit-basic-light-palette-indigo-3: #a7b8e2;
$bit-basic-light-palette-indigo-4: #a7b8e2;
$bit-basic-light-palette-indigo-5: #5f78c5;
$bit-basic-light-palette-indigo-6: #405bb7;
$bit-basic-light-palette-indigo-7: #344ba3;
$bit-basic-light-palette-indigo-8: #293d8e;
$bit-basic-light-palette-indigo-9: #20307a;
$bit-basic-light-palette-indigo-10: #172465;

// 暗夜紫
$bit-basic-light-palette-purple-1: #F5E8FF;
$bit-basic-light-palette-purple-2: #DDBEF6;
$bit-basic-light-palette-purple-3: #C396ED;
$bit-basic-light-palette-purple-4: #A871E3;
$bit-basic-light-palette-purple-5: #8D4EDA;
$bit-basic-light-palette-purple-6: #722ED1;
$bit-basic-light-palette-purple-7: #551DB0;
$bit-basic-light-palette-purple-8: #3C108F;
$bit-basic-light-palette-purple-9: #27066E;
$bit-basic-light-palette-purple-10: #16004D;

// 青春紫
$bit-basic-light-palette-pinkpurple-1: #FFE8FB;
$bit-basic-light-palette-pinkpurple-2: #F7BAEF;
$bit-basic-light-palette-pinkpurple-3: #F08EE6;
$bit-basic-light-palette-pinkpurple-4: #E865DF;
$bit-basic-light-palette-pinkpurple-5: #E13EDB;
$bit-basic-light-palette-pinkpurple-6: #D91AD9;
$bit-basic-light-palette-pinkpurple-7: #B010B6;
$bit-basic-light-palette-pinkpurple-8: #8A0993;
$bit-basic-light-palette-pinkpurple-9: #650370;
$bit-basic-light-palette-pinkpurple-10: #42004D;

// 品红
$bit-basic-light-palette-pink-1: #FFE8F1;
$bit-basic-light-palette-pink-2: #FDC2DB;
$bit-basic-light-palette-pink-3: #FB9DC7;
$bit-basic-light-palette-pink-4: #F979B7;
$bit-basic-light-palette-pink-5: #F754A8;
$bit-basic-light-palette-pink-6: #F5319D;
$bit-basic-light-palette-pink-7: #CB1E83;
$bit-basic-light-palette-pink-8: #A11069;
$bit-basic-light-palette-pink-9: #77064F;
$bit-basic-light-palette-pink-10: #4D0034;

// 中性灰
$bit-basic-light-palette-gray-scale-1: #f7f8fa;
$bit-basic-light-palette-gray-scale-2: #f2f3f5;
$bit-basic-light-palette-gray-scale-3: #e5e6eb;
$bit-basic-light-palette-gray-scale-4: #c9cdd4;
$bit-basic-light-palette-gray-scale-5: #a9aeb8;
$bit-basic-light-palette-gray-scale-6: #86909c;
$bit-basic-light-palette-gray-scale-7: #6b7785;
$bit-basic-light-palette-gray-scale-8: #4e5969;
$bit-basic-light-palette-gray-scale-9: #272e3b;
$bit-basic-light-palette-gray-scale-10: #1d2129;
$bit-basic-light-palette-gray-scale-11: #1f1f1f;
$bit-basic-light-palette-gray-scale-12: #141414;
$bit-basic-light-palette-gray-scale-13: #000000;

//-----暗黑主题

$bit-basic-dark-palette-red-1: #4D000A;
$bit-basic-dark-palette-red-2: #770611;
$bit-basic-dark-palette-red-3: #A1161F;
$bit-basic-dark-palette-red-4: #CB2E34;
$bit-basic-dark-palette-red-5: #F54E4E;
$bit-basic-dark-palette-red-6: #F76965;
$bit-basic-dark-palette-red-7: #F98D86;
$bit-basic-dark-palette-red-8: #FBB0A7;
$bit-basic-dark-palette-red-9: #FDD1CA;
$bit-basic-dark-palette-red-10: #FFF0EC;

$bit-basic-dark-palette-orangered-1: #4D0E00;
$bit-basic-dark-palette-orangered-2: #771E05;
$bit-basic-dark-palette-orangered-3: #A23714;
$bit-basic-dark-palette-orangered-4: #CC5729;
$bit-basic-dark-palette-orangered-5: #F77E45;
$bit-basic-dark-palette-orangered-6: #F9925A;
$bit-basic-dark-palette-orangered-7: #FAAD7D;
$bit-basic-dark-palette-orangered-8: #FCC6A1;
$bit-basic-dark-palette-orangered-9: #FDDEC5;
$bit-basic-dark-palette-orangered-10: #FFF4EB;

$bit-basic-dark-palette-orange-1: #4D1B00;
$bit-basic-dark-palette-orange-2: #793004;
$bit-basic-dark-palette-orange-3: #A64B0A;
$bit-basic-dark-palette-orange-4: #D26913;
$bit-basic-dark-palette-orange-5: #FF8D1F;
$bit-basic-dark-palette-orange-6: #FF9626;
$bit-basic-dark-palette-orange-7: #FFB357;
$bit-basic-dark-palette-orange-8: #FFCD87;
$bit-basic-dark-palette-orange-9: #FFE3B8;
$bit-basic-dark-palette-orange-10: #FFF7E8;

$bit-basic-dark-palette-gold-1: #4D2D00;
$bit-basic-dark-palette-gold-2: #774B04;
$bit-basic-dark-palette-gold-3: #A26F0F;
$bit-basic-dark-palette-gold-4: #CC961F;
$bit-basic-dark-palette-gold-5: #F7C034;
$bit-basic-dark-palette-gold-6: #F9CC44;
$bit-basic-dark-palette-gold-7: #FADC6C;
$bit-basic-dark-palette-gold-8: #FCE995;
$bit-basic-dark-palette-gold-9: #FDF4BE;
$bit-basic-dark-palette-gold-10: #FFFCE8;

$bit-basic-dark-palette-yellow-1: #4D3800;
$bit-basic-dark-palette-yellow-2: #785E07;
$bit-basic-dark-palette-yellow-3: #A38614;
$bit-basic-dark-palette-yellow-4: #CFB325;
$bit-basic-dark-palette-yellow-5: #FAE13C;
$bit-basic-dark-palette-yellow-6: #FBE94B;
$bit-basic-dark-palette-yellow-7: #FCF374;
$bit-basic-dark-palette-yellow-8: #FDFA9D;
$bit-basic-dark-palette-yellow-9: #FEFEC6;
$bit-basic-dark-palette-yellow-10: #FEFFF0;

$bit-basic-dark-palette-lime-1: #2A4D00;
$bit-basic-dark-palette-lime-2: #447006;
$bit-basic-dark-palette-lime-3: #629412;
$bit-basic-dark-palette-lime-4: #84B723;
$bit-basic-dark-palette-lime-5: #A8DB39;
$bit-basic-dark-palette-lime-6: #B8E24B;
$bit-basic-dark-palette-lime-7: #CBE970;
$bit-basic-dark-palette-lime-8: #DEF198;
$bit-basic-dark-palette-lime-9: #EEF8C2;
$bit-basic-dark-palette-lime-10: #FDFFEE;

$bit-basic-dark-palette-lite-green-10: #f5f9ee;
$bit-basic-dark-palette-lite-green-9: #e7f3d3;
$bit-basic-dark-palette-lite-green-8: #d0e7aa;
$bit-basic-dark-palette-lite-green-7: #b8db84;
$bit-basic-dark-palette-lite-green-6: #a1cf62;
$bit-basic-dark-palette-lite-green-5: #8bc342;
$bit-basic-dark-palette-lite-green-4: #71a236;
$bit-basic-dark-palette-lite-green-3: #59822a;
$bit-basic-dark-palette-lite-green-2: #41611e;
$bit-basic-dark-palette-lite-green-1: #2a4113;

$bit-basic-dark-palette-green-1: #004D1C;
$bit-basic-dark-palette-green-2: #046625;
$bit-basic-dark-palette-green-3: #0A802D;
$bit-basic-dark-palette-green-4: #129A37;
$bit-basic-dark-palette-green-5: #1DB440;
$bit-basic-dark-palette-green-6: #27C346;
$bit-basic-dark-palette-green-7: #50D266;
$bit-basic-dark-palette-green-8: #7EE18B;
$bit-basic-dark-palette-green-9: #B2F0B7;
$bit-basic-dark-palette-green-10: #EBFFEC;

$bit-basic-dark-palette-teal-10: #e4f7f1;
$bit-basic-dark-palette-teal-9: #c1f0e0;
$bit-basic-dark-palette-teal-8: #88e0c4;
$bit-basic-dark-palette-teal-7: #56d1ab;
$bit-basic-dark-palette-teal-6: #29c295;
$bit-basic-dark-palette-teal-5: #03b382;
$bit-basic-dark-palette-teal-4: #01956f;
$bit-basic-dark-palette-teal-3: #00775a;
$bit-basic-dark-palette-teal-2: #005945;
$bit-basic-dark-palette-teal-1: #003c2f;

$bit-basic-dark-palette-cyan-1: #00424D;
$bit-basic-dark-palette-cyan-2: #06616C;
$bit-basic-dark-palette-cyan-3: #11838B;
$bit-basic-dark-palette-cyan-4: #1FA6AA;
$bit-basic-dark-palette-cyan-5: #30C9C9;
$bit-basic-dark-palette-cyan-6: #3FD4CF;
$bit-basic-dark-palette-cyan-7: #66DFD7;
$bit-basic-dark-palette-cyan-8: #90E9E1;
$bit-basic-dark-palette-cyan-9: #BEF4ED;
$bit-basic-dark-palette-cyan-10: #F0FFFC;

$bit-basic-dark-palette-lite-blue-1: #001A4D;
$bit-basic-dark-palette-lite-blue-2: #052F78;
$bit-basic-dark-palette-lite-blue-3: #134CA3;
$bit-basic-dark-palette-lite-blue-4: #2971CF;
$bit-basic-dark-palette-lite-blue-5: #469AFA;
$bit-basic-dark-palette-lite-blue-6: #5AAAFB;
$bit-basic-dark-palette-lite-blue-7: #7DC1FC;
$bit-basic-dark-palette-lite-blue-8: #A1D5FD;
$bit-basic-dark-palette-lite-blue-9: #C6E8FE;
$bit-basic-dark-palette-lite-blue-10: #EAF8FF;

$bit-basic-dark-palette-blue-1: #000D4D;
$bit-basic-dark-palette-blue-2: #041B79;
$bit-basic-dark-palette-blue-3: #0E32A6;
$bit-basic-dark-palette-blue-4: #1D4DD2;
$bit-basic-dark-palette-blue-5: #306FFF;
$bit-basic-dark-palette-blue-6: #3C7EFF;
$bit-basic-dark-palette-blue-7: #689FFF;
$bit-basic-dark-palette-blue-8: #93BEFF;
$bit-basic-dark-palette-blue-9: #BEDAFF;
$bit-basic-dark-palette-blue-10: #EAF4FF;

$bit-basic-dark-palette-indigo: #172465; // 水墨蓝
$bit-basic-dark-palette-indigo-10: #edf0f8;
$bit-basic-dark-palette-indigo-9: #d1dbf1;
$bit-basic-dark-palette-indigo-8: #a7b8e2;
$bit-basic-dark-palette-indigo-7: #a7b8e2;
$bit-basic-dark-palette-indigo-6: #5f78c5;
$bit-basic-dark-palette-indigo-5: #405bb7;
$bit-basic-dark-palette-indigo-4: #344ba3;
$bit-basic-dark-palette-indigo-3: #293d8e;
$bit-basic-dark-palette-indigo-2: #20307a;
$bit-basic-dark-palette-indigo-1: #172465;

$bit-basic-dark-palette-purple-1: #16004D;
$bit-basic-dark-palette-purple-2: #27066E;
$bit-basic-dark-palette-purple-3: #3E138F;
$bit-basic-dark-palette-purple-4: #5A25B0;
$bit-basic-dark-palette-purple-5: #7B3DD1;
$bit-basic-dark-palette-purple-6: #8E51DA;
$bit-basic-dark-palette-purple-7: #A974E3;
$bit-basic-dark-palette-purple-8: #C59AED;
$bit-basic-dark-palette-purple-9: #DFC2F6;
$bit-basic-dark-palette-purple-10: #F7EDFF;

$bit-basic-dark-palette-pinkpurple-1: #42004D;
$bit-basic-dark-palette-pinkpurple-2: #650370;
$bit-basic-dark-palette-pinkpurple-3: #8A0D93;
$bit-basic-dark-palette-pinkpurple-4: #B01BB6;
$bit-basic-dark-palette-pinkpurple-5: #D92ED9;
$bit-basic-dark-palette-pinkpurple-6: #E13DDB;
$bit-basic-dark-palette-pinkpurple-7: #E866DF;
$bit-basic-dark-palette-pinkpurple-8: #F092E6;
$bit-basic-dark-palette-pinkpurple-9: #F7C1F0;
$bit-basic-dark-palette-pinkpurple-10: #FFF2FD;

$bit-basic-dark-palette-pink-1: #4D0034;
$bit-basic-dark-palette-pink-2: #770850;
$bit-basic-dark-palette-pink-3: #A1176C;
$bit-basic-dark-palette-pink-4: #CB2B88;
$bit-basic-dark-palette-pink-5: #F545A6;
$bit-basic-dark-palette-pink-6: #F756A9;
$bit-basic-dark-palette-pink-7: #F97AB8;
$bit-basic-dark-palette-pink-8: #FB9EC8;
$bit-basic-dark-palette-pink-9: #FDC3DB;
$bit-basic-dark-palette-pink-10: #FFE8F1;

$bit-basic-dark-palette-gray-scale-1: #f7f8fa;
$bit-basic-dark-palette-gray-scale-2: #f2f3f5;
$bit-basic-dark-palette-gray-scale-3: #e5e6eb;
$bit-basic-dark-palette-gray-scale-4: #c9cdd4;
$bit-basic-dark-palette-gray-scale-5: #a9aeb8;
$bit-basic-dark-palette-gray-scale-6: #86909c;
$bit-basic-dark-palette-gray-scale-7: #6b7785;
$bit-basic-dark-palette-gray-scale-8: #4e5969;
$bit-basic-dark-palette-gray-scale-9: #272e3b;
$bit-basic-dark-palette-gray-scale-10: #1d2129;
$bit-basic-dark-palette-gray-scale-11: #1f1f1f;
$bit-basic-dark-palette-gray-scale-12: #141414;
$bit-basic-dark-palette-gray-scale-13: #000000;
