@import 'colors';

@function __opa_black($opacity) {
  @return rgba(0, 0, 0, $opacity)
}

@function __calculate-rem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

@function __font-size($value) {
  @return __calculate-rem($value);
}

@function __opa_white($opacity) {
  @return rgba(255, 255, 255, $opacity)
}

@function __calcMainHeight($header,$footer) {
  @return $header + $footer;
}


%visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

