@import 'helper_functions';
// 流布局
@mixin fluid {
  width: 100%;
}

// 媒体查询
@mixin __media-query($point) {
  @if ($point==xs) {
    // Xtra small devices
    @media screen and (max-width: 576px) {
      @content;
    }
  } @else if ($point==sm) {
    // Small devices (cellphones, 576px and up)
    @media screen and (min-width: 576px) {
      @content;
    }
  } @else if ($point==md) {
    // Medium devices (tablets, 768px and up)
    @media screen and (min-width: 768px) {
      @content;
    }
  } @else if ($point==lg) {
    // Large devices (desktops, 992px and up)
    @media screen and (min-width: 992px) {
      @content;
    }
  } @else if ($point==xl) {
    // X-Large devices (large desktops, 1200px and up)
    @media screen and (min-width: 1200px) {
      @content;
    }
  } @else if ($point==xxl) {
    // XX-Large devices (larger desktops, 1400px and up)
    @media screen and (min-width: 1600px) {
      @content;
    }
  }
}

// 容器
@mixin __fluid-sm {
  @include __media-query(xs) {
    max-width: 100%;
  }
  @include __media-query(sm) {
    max-width: 540px;
  }
  @include __media-query(md) {
    max-width: 720px;
  }
  @include __media-query(lg) {
    max-width: 960px;
  }
  @include __media-query(xl) {
    max-width: 1140px;
  }
  @include __media-query(xxl) {
    max-width: 1320px;
  }
}

@mixin __fluid-md {
  @include __media-query(xs) {
    max-width: 100%;
  }
  @include __media-query(sm) {
    max-width: 100%;
  }
  @include __media-query(md) {
    max-width: 720px;
  }
  @include __media-query(lg) {
    max-width: 960px;
  }
  @include __media-query(xl) {
    max-width: 1140px;
  }
  @include __media-query(xxl) {
    max-width: 1320px;
  }
}

@mixin __fluid-lg {
  @include __media-query(xs) {
    max-width: 100%;
  }
  @include __media-query(sm) {
    max-width: 100%;
  }
  @include __media-query(md) {
    max-width: 100%;
  }
  @include __media-query(lg) {
    max-width: 960px;
  }
  @include __media-query(xl) {
    max-width: 1140px;
  }
  @include __media-query(xxl) {
    max-width: 1320px;
  }
}

@mixin __fluid-xl {
  @include __media-query(xs) {
    max-width: 100%;
  }
  @include __media-query(sm) {
    max-width: 100%;
  }
  @include __media-query(md) {
    max-width: 100%;
  }
  @include __media-query(lg) {
    max-width: 100%;
  }
  @include __media-query(xl) {
    max-width: 1140px;
  }
  @include __media-query(xxl) {
    max-width: 1320px;
  }
}

@mixin __fluid-xxl {
  @include __media-query(xs) {
    max-width: 100%;
  }
  @include __media-query(sm) {
    max-width: 100%;
  }
  @include __media-query(md) {
    max-width: 100%;
  }
  @include __media-query(lg) {
    max-width: 100%;
  }
  @include __media-query(xl) {
    max-width: 100%;
  }
  @include __media-query(xxl) {
    max-width: 1320px;
  }
}

@mixin __responsive-col-xs($span) {
  @include __media-query(xs) {
    grid-column-start: span $span;
  }
}

@mixin __responsive-col-sm($span) {
  @include __media-query(sm) {
    grid-column-start: span $span;
  }
}

@mixin __responsive-col-md($span) {
  @include __media-query(md) {
    grid-column-start: span $span;
  }
}

@mixin __responsive-col-lg($span) {
  @include __media-query(lg) {
    grid-column-start: span $span;
  }
}

@mixin __responsive-col-xl($span) {
  @include __media-query(xl) {
    grid-column-start: span $span;
  }
}

@mixin __responsive-col-xxl($span) {
  @include __media-query(xxl) {
    grid-column-start: span $span;
  }
}

// 清除浮动
@mixin __clear-fix() {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// 绝对定位
@mixin __abs-position($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

// 垂直居中
@mixin __ghost-vertical-align() {
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: .1px;
  }
}

// sizing
@mixin __sizing($width,$height) {
  box-sizing: border-box;
  width: __calculate-rem($width);
  height: __calculate-rem($height);
}

