@import "colors";
@import "variables";

@mixin __header() {
  @include fluid();
  display: flex;
  grid-area: header;
  align-items: center;
  height: $bit-general-header-height;
  padding: $bit-general-header-padding-y $bit-general-header-padding-x;
  color: $bit-theme-light-text-reversed;
  background-color: $bit-theme-light-primary-light-default;
}

@mixin __border_plain($borderColor, $style:solid, $weight:light) {
  @if ($weight==light) {
    border: $style $bit-general-box-border-width-light $borderColor;
  } @else {
    border: $style $bit-general-box-border-width-heavy $borderColor;
  }
}

@mixin __border_radius($size:md) {
  @if ($size==sm) {
    border-radius: $bit-general-box-radius-sm;
  } @else if ($size==md) {
    border-radius: $bit-general-box-radius-md;
  } @else if ($size==lg) {
    border-radius: $bit-general-box-radius-lg;
  }
  
}

