@import "variables";
@import "colors";
@import "helper_functions";
@import "layout_mixins";
@import "typography_mixins";
@import "display_mixins";
@import "shape_mixins";
@import "effect_mixins";
@import "animations_mixins";
@import "styled_mixins";

html {
  //font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: $bit-palette-theme-bg-dark;
}

* {
  box-sizing: border-box;
  color: $bit-palette-theme-font-light-1;
}
